@import 'breakpoints';

// Spacers
$spacer: 2rem;

// Typography
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@700&family=PT+Serif:wght@700&family=Poppins:wght@400;600&display=swap');

$font-family-base: 'Poppins';
$display-font-sizes: (
    1: 4rem,
    2: 3.5rem,
    3: 3rem,
    4: 2.5rem,
    5: 2rem,
    6: 1.5rem
);

// Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

h1 {
    font-family: PT Serif;
    font-weight: 700;
    letter-spacing: -0.045em;

}
h5 {
    font-weight: 600;
}

// Special styling
.team {
    > div:nth-child(even){
        transform: translateY(15%);
        @include breakpoint('screen-md'){
            transform: translateY(0);
        }
    }
    > div:nth-child(2), > div:nth-child(5){
        @include breakpoint('screen-md'){
            transform: translateY(15%);
        }
    }

}
.card {
    @include breakpoint('screen-md'){
        max-width: 150px;
    }
    @include breakpoint('screen-lg'){
        max-width: 200px;
    }
    @include breakpoint('screen-xl'){
        max-width: 300px;
    }
    &-job {
        right: -20px;
        top: 0;
        transform: translateX(100%) rotate(90deg);
        transform-origin: top left;
    }
}
